
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/blog.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
              {% if title %}
              <h1>{{title}}</h1>
              {% else %}
                <h1>New Post</h1>
              {% endif %}
            <span class="subheading">{{msg}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
           <form method="post">
               {{ form.csrf_token }}
               {{ wtf.quick_form(form, novalidate=True, button_map={"submit":"primary"} ) }}

           </form>
         {{ ckeditor.load() }}
         {{ ckeditor.config(name='content') }}
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}