        {% include "header.html" %}
        {% import "bootstrap/wtf.html" as wtf %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/blog.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ content['title'] }}</h1>
                            <h2 class="subheading">{{ content['subtitle'] }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{ content['author']['name'] }}</a>
                                on August 24, 2022
                            </span>
                        </div>
                        {% if current_user.id == 1 %}
                            <div class="clearfix">
                                <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=content.id)}}">Edit
                                    Post</a>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p> {{ content['content']|safe}}
                        </p>
                    </div>
                    <div>
                    <form method='POST' action="{{ url_for('one_post', id=content.id) }}">
                        {{ form.csrf_token }}
                        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                    </form>
                     {{ ckeditor.load() }}
                     {{ ckeditor.config(name='comment') }}
                     <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in content.comments: %}
                    <ul class="commentList">
                        <li>
                            <div class="commenterImage">
<!--                                <img src="https://pbs.twimg.com/profile_images/744849215675838464/IH0FNIXk.jpg"/>-->
                                <img src="{{ comment.comment_author.email | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                {{comment.content|safe}}
                                <span class="date sub-text">{{comment.comment_author.name}}</span>

                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </article>
      {% include "footer.html" %}